<ion-spinner *ngIf="loadingAuth()"></ion-spinner>
<page-login *ngIf="!auth.authenticated() && !loadingAuth()"></page-login>


<div *ngIf="auth.authenticated() && !loadingAuth()">

  <ion-menu [content]="content" *ngIf="auth.authenticated()&& !loadingAuth()">

    <ion-header>
      <ion-toolbar>
        <ion-title>Pages</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>